:root {
  --missing-content-bg-color: #fff3cd;
  --missing-content-border-color: #ffc107;
  --missing-content-text-color: #d39b00;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.missing-content-div {
  border-radius: 15px;
  border-style: dashed;
  border-width: 1px;
  border-color: var(--bs-warning);
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: var(--bs-warning-bg-subtle);
  color: var(--missing-content-text-color);
}

div.matches {
  margin-bottom: 20px;
}

div.score-divider {
  padding: 0;
}

.match-id {
  opacity: 0.3;
  font-style: italic;
}

div.score-table {
  font-size: large;
}

div.score-table > * > div {
  margin-bottom: 0.8em;
}

div.score-table > * > div.table-header {
  font-weight: bold;
}

div.score-table > div.name > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.score-table > div.matchs,
div.score-table > div.wins,
div.score-table > div.losses,
div.score-table > div.points,
div.score-table > div.point-difference {
  text-align: center;
}

.fs-sets {
  font-size: smaller;
  font-style: italic;
  color: gray;
}